.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}